*
{
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100vw;
    height: 100%;
}

body
{
    background: linear-gradient(45deg, #0000ff, #0077ff, #0000ff) no-repeat center center fixed;
	background-size: 400% 400%;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    animation: gradient 60s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1
{
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

p
{
    padding-top: 15px;
}

#navbar
{
    width: 100%;
    background-color: #00000033;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

#navbar-text
{
    min-width: 250px;
    padding-bottom: 10px;
}

#content
{
    margin: auto;
    max-width: 632px;
    justify-content: stretch;
}

.content-block
{
    display: block;
    margin: 8px;
    background-color: #00000055;
    float: left;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-block
{
    display: block;
    margin: 8px;
    float: left;
    border-radius: 100%;
}

.content-block-content /* lolololololololol */
{
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
}

@media (max-width: 750px) 
{
    #content {
        max-width: 500px;
        margin-top: 15px;
    }

    .content-block
    {
        width: calc(100% - 16px);
    }

    .navbar-link
    {
        width: 100%;
    }

    #navbar
    {
        min-height: 50px;
    }

    .img-block
    {
        width: calc(100% - 116px);
        margin-left: 50px;
        margin-right: 50px;
    }

    .content-block-content /* lolololololololol */
    {
        width: calc(100% - 60px);
        margin: 30px;
    }
}

@media (min-width: 750px)
{
    #content
    {
        margin-top: 50px;
    }

    .content-block
    {
        width: 300px;
        height: 300px;
    }

    .img-block
    {
        width: 300px;
        height: 300px;
    }

    #navbar
    {
        height: 50px;
    }
}

#content
{
    margin-bottom: 0;
    padding-bottom: 0;
}

#social
{
    margin: auto;
    text-align: center;
}

a
{
    color: #BBBBFF;
    white-space: nowrap;
    text-decoration: none;
}

a:hover
{
    opacity: 0.6;
}

.navbar-link
{
    padding-left: 15px;
    padding-right: 15px;
    width: 75px;
}

i
{
    display: inline;
}

.project-icon
{
    width: 30px;
    height: 30px;
    display: inline;
    vertical-align: middle;
}

#naamshake
{
    animation-iteration-count: infinite; 
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake 
{
    0% { transform: translate(5px, 5px) rotate(0deg); }
    10% { transform: translate(-5px, -5px) rotate(-5deg); }
    20% { transform: translate(-15px, 0px) rotate(5deg); }
    30% { transform: translate(15px, 10px) rotate(0deg); }
    40% { transform: translate(5px, -5px) rotate(5deg); }
    50% { transform: translate(-5px, 10px) rotate(-5deg); }
    60% { transform: translate(-15px, 5px) rotate(0deg); }
    70% { transform: translate(15px, 5px) rotate(-5deg); }
    80% { transform: translate(-5px, -5px) rotate(5deg); }
    90% { transform: translate(5px, 10px) rotate(0deg); }
    100% { transform: translate(5px, -10px) rotate(-5deg); }
}

.footer { 
    float: left;
    height:25px;
    text-align: left;
    font-size: small;
    padding: 15px;
    width: calc(100% - 30px);
}